apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: hello-gitops
  namespace: project
spec:
  generators:
    - list:
        elements:
          - cluster: stag
            #     - cluster: stag2
      metadata:
        name: 'hello-gitops-{{cluster}}'
      spec:
        project: ${appName}
        source:
          path: kustomize/overlays/{{cluster}}
          repoURL: ${repoURL}
          targetRevision: ${branch}
        # Destination cluster and namespace to deploy the application
        destination:
          server: '{{server}}'
          namespace: ${namespace}
  template:
    metadata:
      name: hello-gitops-{{name}}
    spec:
      project: project
      source:
        repoURL: git@github.com:viallikavoo/hello-gitops.git
        targetRevision: main
      destination:
        namespace: project
