apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: hello-gitops
  namespace: project
spec:
  generators:
    - clusters: {}
  template:
    metadata:
      name: 'hello-gitops-{{name}}'
    spec:
      project: project
      source:
        path: kustomize/overlays/{{name}}
        repoURL: git@github.com:viallikavoo/hello-gitops.git
        targetRevision: main
      # Destination cluster and namespace to deploy the application
      destination:
        server: '{{server}}'
        namespace: project
