apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hello-gitops
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: hello-gitops
  source:
    path: argocd/appset-resources
    repoURL: git@github.com:Siteimprove/hello-gitops.git
    targetRevision: develop
  # Destination cluster and namespace to deploy the application
  destination:
    server: https://kubernetes.default.svc
    namespace: hello-gitops
