apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hello-gitops
  namespace: project
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: project
  source:
    path: argocd/appset-resources
    repoURL: git@github.com:viallikavoo/hello-gitops.git
    targetRevision: main
  # Destination cluster and namespace to deploy the application
  destination:
    server: https://kubernetes.default.svc
    namespace: project
