apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  - ../../base
  - deployment.yaml
resources:
namespace: project
images:
  - name: hello-gitops
    newName: ghcr.io/viallikavoo/hello-gitops
    newTag: 7a99da23a832123a2e57c565697ab24681f32dc6
