apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- ../../base

namespace: project
images:
- name: hello-gitops
  newName: ghcr.io/viallikavoo/hello-gitops
  newTag: 38bb2e2399aedb7a60c6b1834e19cfcfe01fcd36
