apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- deployment.yaml
namespace: project
images:
- name: hello-gitops
  newName: ghcr.io/viallikavoo/hello-gitops
  newTag: 4467419acbd6312b3b43513314dea84197c5ccf2
