apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- deployment.yaml
namespace: project
images:
- name: hello-gitops
  newName: ghcr.io/viallikavoo/hello-gitops
  newTag: 677f9eb902741c9288f521b2aa90831e886e0e08
