name: Provision ArgoCD Resources

on: [workflow_dispatch]

jobs:
  build:
    name: Initiazing apps in ArgoCD
    runs-on: self-hosted
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Setup ArgoCD CLI and jq
      run: |
        curl -sSL -o /usr/local/bin/argocd "https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64" && chmod +x /usr/local/bin/argocd
        curl -sLo /usr/local/bin/jq https://stedolan.github.io/jq/download/linux64/jq && chmod +x /usr/local/bin/jq

    - name: Provision ArgoCD Resources
      env:
        GITOPS_ARGOCD_TOKEN: ${{ secrets.GITOPS_ARGOCD_TOKEN }}
        GITOPS_BUILDUSER_SSH_KEY: ${{ secrets.GITOPS_BUILDUSER_SSH_KEY }}
      run: |
        export repoURL=$(cat argocd/bootstrap/scripts/bootstrap.json | jq -r .repoURL)
        export appName=$(cat argocd/bootstrap/scripts/bootstrap.json | jq -r .appName)
        cd argocd/bootstrap/scripts
        echo "${{ secrets.GITOPS_BUILDUSER_SSH_KEY }}" > key
        chmod 600 key
        chmod +x argocd-bootstrap.sh
        ./argocd-bootstrap.sh

    - name: Cleanup
      run: |
        rm /usr/local/bin/argocd /usr/local/bin/jq
