name: Provision ArgoCD Resources

on: [workflow_dispatch]

jobs:
  build:
    name: Initiazing apps in ArgoCD
    runs-on: self-hosted
    steps:
    - name: Check out code
      uses: actions/checkout@v2

  
    - name: Provision ArgoCD Resources
      env:
        GITOPS_ARGOCD_TOKEN: ${{ secrets.GITOPS_ARGOCD_TOKEN }}
      run: |
        export appName=$(cat argocd/bootstrap/scripts/bootstrap.json | jq -r .appName)
        cd argocd/bootstrap/scripts
        chmod +x argocd-bootstrap.sh
        ./argocd-bootstrap.sh

    - name: Cleanup
      run: |
        rm /usr/local/bin/argocd /usr/local/bin/jq
